---
layout: base
title: Blog
permalink: /blog/
---

<div class="carousel">
    <div class="carousel-item align-middle align-items-center animate" data-animation="animate-fadeIn">
        <img src="../assets/DSC04786C.jpg" class="d-block w-100" onload="animate($(this).parent())">
        <div class="d-flex flex-column justify-content-between align-items-center mask">
            {% include nav.html %}

            <h1>Blog</h1>

            <div class="d-flex flex-wrap justify-content-center align-items-baseline tag-list">
                {% assign total = site.posts.size | times: 1.0 %}
                <div class="tag-list-item active" style="font-size: 1rem">#All</div>
                {% for tag in site.tags %}
                {% assign font_size = tag[1].size | divided_by: total | times: 3 | plus: 0.8 %}
                <div class="tag-list-item" data-tag="{{ tag[0] }}" style="font-size: {{ font_size }}rem">
                    #{{ tag[0] }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container container-blog my-4">
    <div class="card-columns single-column col">
        <div id="all">
            {% for post in site.categories.blog %}
            {% include post_card.html %}
            {% endfor %}
        </div>
        <div id="tag" style="display: none;"></div>
    </div>
</div>

<div id="vcomments" style="display: none"></div>
{% include footer.html %}

<script>
    $('.tag-list-item').each(function () {
        $(this).on('click', function (e) {
            if ($(this).hasClass('active')) return;

            $('.tag-list-item').removeClass('active');
            let tag = $(this).addClass('active').data('tag');

            if (tag) {
                $('#all').hide().find('a').each(function () {
                    $(this).removeClass('animated').removeClass($(this).data('animation'));
                });
                // $('#all').hide().find('a').removeClass('animated');
                $.get(`https://chauncyf.github.io/test/archive/tag/${tag}/`, function (result) {
                    $('#tag').html(result).show().find('.animate').showAnimate(100);
                })
            } else {
                $('#tag').hide();
                $('#all').show().find('.animate').showAnimate(100);
            }
        });
    });
</script>