---
layout: base
title: Blog
permalink: /blog/
---

<div class="carousel">
    <div class="carousel-item align-middle align-items-center animate" data-animation="animate-fadeIn">
        <img src="../assets/DSC04786C.jpg" class="d-block w-100" onload="animate($(this).parent())">
        <div class="d-flex flex-column justify-content-between align-items-center mask">
            {% include nav.html %}

            <h1>Blog</h1>

            <div class="d-flex flex-wrap justify-content-center align-items-baseline tag-list">
                <div class="tag-list-item active" style="font-size: 1rem">#All</div>
                {% assign total = site.posts.size | times: 1.0 %}
                {% assign tags = site.tags | sort %}
                {% for tag in tags %}
                {% assign font_size = tag[1].size | divided_by: total | times: 3 | plus: 0.8 %}
                <div class="tag-list-item" data-tag="{{ tag[0] }}" style="font-size: {{ font_size }}rem">
                    #{{ tag[0] }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container container-blog my-4">
    <div class="card-columns single-column col">
        <div id="all">
            {% for post in site.categories.blog %}
            {% include post_card.html %}
            {% endfor %}
        </div>
        <div id="tag" style="display: none;"></div>
    </div>
</div>

{% include footer.html %}
<div id="vcomments" style="display: none"></div>

<script>
    (function () {
        if (location.search.length !== 0) {
            let params = location.search.slice(1).split('&');
            let paramsHash = {};
            params.forEach((param) => {
                let tmp = param.split('=');
                paramsHash[tmp[0]] = tmp[1];
            });

            if (paramsHash['tag']) {
                $(window).on('load', () => $(`.tag-list-item[data-tag=${paramsHash['tag']}]`).click());
            }
        }
    })();

    (function () {
        $('.tag-list-item').each(function () {
            $(this).on('click', function (e) {
                if ($(this).hasClass('active')) return;

                let $footer = $('footer');
                $footer.removeClass('animated').removeClass($footer.data('animation'));

                $('.tag-list-item').removeClass('active');
                let tag = $(this).addClass('active').data('tag');

                if (tag) {
                    $('#all').hide().find('a').each(function () {
                        $(this).removeClass('animated').removeClass($(this).data('animation'));
                    });
                    // $('#all').hide().find('a').removeClass('animated');
                    $.get(`/archive/tag/${tag}/`, function (result) {
                        $('#tag').html(result).show().find('.animate').showAnimate(100).then(() => $footer.showAnimate(0));
                    })
                } else {
                    $('#tag').hide();
                    $('#all').show().find('.animate').showAnimate(100).then(() => $footer.showAnimate(0));
                }
            });
        });
    })();
</script>