---
layout: default
title: Chauncy's Space
---

<!--<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">-->
<!--    <div class="carousel-inner">-->
<!--        <div class="carousel-item align-middle align-items-center active">-->
<!--            <img src="assets/DSC01881P.jpg" class="d-block w-100" alt="{{ image.basename }}">-->

<!--            <div class="carousel-caption">-->
<!--                <h1>Welcome</h1>-->
<!--                &lt;!&ndash;                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="container-fluid my-4">
    <div class="card-columns">
        {% for post in site.posts %}
        {% include post_card.html %}
        {% endfor %}
    </div>
</div>