---
layout: default
title: Note
permalink: /notes
---

<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item align-middle align-items-center active">
            <img src="../assets/DSC08365C.jpg" class="d-block w-100" alt="{{ image.basename }}">
            <div class="carousel-caption">
                <h1>Note</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-4">
    <div class="card-columns">
        {% for post in site.categories.note %}
        {% include post_card.html %}
        {% endfor %}
    </div>
</div>