---
layout: base
title: Photography
permalink: /photo/
---

<script>
    let progressbar = (function () {
        let loaded = 0;
        let total;
        $(() => {
            total = $('.card-columns img').length || 1;
        });

        $(window).on('load', () => {
            progressbar.hide();
            $('.animate').showAnimate(10);
        });

        return {
            update: () => {
                $('#progressbar .progress-bar').css('width', `${++loaded * 100 / total}%`);
            },
            hide: () => {
                $('#progressbar').fadeOut(1000);
            }
        }
    })();
</script>

<div class="progress" id="progressbar">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"></div>
</div>

<div class="carousel">
    <div class="carousel-item align-middle align-items-center">
        <img src="../assets/DSC01881C.jpg" class="d-block w-100 animate" data-animation="animate-fadeIn"
             onload="animate($(this))">
        <div class="d-flex flex-column justify-content-between align-items-center mask">
            {% include nav.html %}

            <h1>Photography</h1>

            <h5 class="align-self-end">In search of the true self</h5>
        </div>
    </div>
</div>

<div class="container-fluid my-4">
    <div class="card-columns">

        {% for image in site.data.gallery %}

        <div class="card mb-3 shadow-sm animate" data-animation="animate-fadeIn" id="{{ image.basename }}"
             style="background-color: rgb({{ image.dominant_color }})"
             onclick="open_modal('{{ image.basename }}', '{{ image.path }}')">
            <img src='data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 {{ image.width }} {{ image.height }}"%3E%3C/svg%3E'
                 data-src="{{ image.path }}" alt="{{ image.basename }}" class="card-img" style="opacity: 0"
                 onload="progressbar.update()">
            <div class="mask">
                <div class="card-img-overlay">
                    <p class="card-text">{{ image.basename }}</p>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

<div class="modal fade" id="modal-img" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-pic" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <img class="img-fluid" src="" alt="">
                <div class="card-img-nav">
                    <div class="row align-items-center">
                        <div class="col pl-4">
                            <button type="button" class="btn" onclick="prev_pic()">
                                <i class="fas fa-chevron-left"></i></button>
                        </div>
                        <div class="col pr-4 text-right">
                            <button type="button" class="btn" onclick="next_pic()">
                                <i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-img-overlay">
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="vcomments" style="display: none"></div>
{% include footer.html %}

<script>
    const config = {
        rootMargin: '0px 0px 50px 0px',
        threshold: 0
    };

    let observer = new IntersectionObserver(function (entries, self) {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                const src = $(entry.target).data('src');
                $(entry.target).prop('src', src).css({
                    opacity: 1,
                    transition: 'all 0.5s ease-in-out'
                });
                self.unobserve(entry.target);
            }
        });
    }, config);

    $(function () {
        $('.card-img').each(function () {
            observer.observe(this);
        });
    });
</script>
<script>
    let $modal = $('#modal-img');
    let $modal_img = $('#modal-img img');
    let img_loaded = false;

    function render_img(img_name, img_path, out = 200) {
        img_loaded = false;
        $modal_img.fadeOut(out, () => {
            $modal_img.attr({'src': img_path, 'alt': img_name})
        }).fadeIn(500);
        $('#modal-img p').text(img_name);

        return $.Deferred((d) => {
            $modal_img.on('load', () => {
                img_loaded = true;
                d.resolve()
            })
        }).promise();
    }

    function open_modal(img_name, img_path) {
        if ($(window).width() >= 768) {
            render_img(img_name, img_path, 0).done(() => {
                $modal.modal('show');
            });
        }
    }

    function prev_pic() {
        let $new_image = $('#' + $modal_img.attr('alt')).prev().find('img');
        if ($new_image.length !== 0) {
            render_img($new_image.attr('alt'), $new_image.attr('src'));
        }
    }

    function next_pic() {
        let $new_image = $('#' + $modal_img.attr('alt')).next().find('img');
        if ($new_image.length !== 0) {
            render_img($new_image.attr('alt'), $new_image.attr('src'));
        }
    }

    $(document).keydown(function (e) {
        if (($modal.data('bs.modal') || {})._isShown && img_loaded) {
            e.preventDefault();  // prevent the default action (scroll / move caret)
            switch (e.which) {
                case 37:  // left
                    prev_pic();
                    break;
                case 39:  // right
                    next_pic();
                    break;
                default:
                    return;  // exit this handler for other keys
            }
        }
    });
</script>