---
layout: default
title: Word
permalink: /word
---

<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item align-middle align-items-center active">
            <img src="../assets/DSC03916C.jpg" class="d-block w-100" alt="{{ image.basename }}">
            <div class="carousel-caption">
                <h1>Word</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-4">
    <div class="card-columns">
        {% for post in site.posts %}
        {% if post.category == "word" or post.category == "code" %}
        {% include post_card.html %}
        {% endif %}
        {% endfor %}
    </div>
</div>