---
layout: default
title: Word
---

<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item align-middle align-items-center active">
            <img src="assets/DSC03916C.jpg" class="d-block w-100" alt="{{ image.basename }}">
            <div class="carousel-caption">
                <h1>Word</h1>
                <!--                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-4">
    <div class="card-columns">
        {% for post in site.posts %}
        {% include post_card.html %}
        {% endfor %}
    </div>
</div>