<div class="container-fluid">
    <footer class="footer">
        <div class="row">
            <div class="col">
                <small class="copyright">&copy; {{ site.title }} 2019</small>
            </div>
            <div class="col-auto ml-auto">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://github.com/chauncyf">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <!--                <li class="list-inline-item">-->
                    <!--                    <a href="mailto:chauncyff@gmail.com">-->
                    <!--                        <i class="fas fa-envelope"></i>-->
                    <!--                    </a>-->
                    <!--                </li>-->
                </ul>
            </div>
        </div>
    </footer>
</div>