<footer class="footer animate" data-animation="animate-fadeInDown animate-fast">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">
                <small class="copyright">&copy; {{ site.title }} 2019-2020</small>
            </div>
            <div class="col-auto ml-auto">
                <ul class="list-inline social-buttons my-0">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/chenfengf/">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/chauncyf">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/chauncyfff/">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>