<a class="card button-card mb-3 animate" data-animation="animate-fadeInDown animate-fast" href="{{ post.url }}">
    <div class="card-body">
        <h2 class="card-title">{{ post.title }}</h2>
        <ul class="card-subtitle text-muted list-inline mb-3">
            <li class="list-inline-item">
                <i class="fas fa-calendar"></i> {{ post.date | date: "%b %-d, %Y" }}
            </li>
            {% for tag in post.tags %}
            <li class="list-inline-item"><i class="fas fa-hashtag"></i> {{ tag }}</li>
            {% endfor %}
        </ul>
        <div class="card-text">{{ post.excerpt }}</div>
    </div>
</a>