.card-columns {
  margin: auto;
  max-width: 85%;

  .card {
    img {
      border-top-left-radius: 0.5rem !important;
      border-top-right-radius: 0.5rem !important;
    }

    border: none;
    border-radius: 0.5rem !important;
  }

  .card:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  }
}

.button-card {
  //color: black !important;
  text-decoration: none;

  .card-text {
    color: #212529;

    p {
      margin: 0;
    }
  }
}

.button-card:hover {
  text-decoration: none !important;
}

.container {
  .card {
    border: none;
    border-radius: 0.85rem !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  }
}

.carousel {
  img {
    filter: brightness(80%);
  }

  .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;

    h1 {
      font-family: 'Roboto Slab', serif;
      letter-spacing: .4rem;
      font-size: 3rem;

      position: absolute;
      margin: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

#scrollspy {
  position: relative;
}

.note {
  h2 {
    margin: 2rem 0 1rem 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }
}

footer {
  border-top: 1px solid #eaeaea;

  small {
    color: #959da5;
  }

  a {
    color: #c6cbd1;
  }

  a:hover {
    color: #959da5;
  }

  .row {
    margin: auto;
    max-width: 90%;
  }
}