.card-columns {
  margin: auto;
  max-width: 85%;

  .card {
    border: none;
    border-radius: 0.85rem !important;
  }

  .card:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  }
}

.container {
  .card {
    border: none;
    border-radius: 0.85rem !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  }
}

footer {
  border-top: 1px solid #eaeaea;

  small {
    color: #959da5;
  }

  a {
    color: #c6cbd1;
  }

  a:hover {
    color: #959da5;
  }

  .row {
    margin: auto;
    max-width: 90%;
  }
}