---
---

@import "main";
@import "github.css";


code.highlighter-rouge{
    margin: 0 2px;
    padding: 0 5px;
    // white-space: nowrap;
    // border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
    // color: #333333 !important;
}

blockquote {
    border-left: 4px solid #DDD;
    padding: 0 15px;
    color: #777;
}
