---
layout: default
---

<div class="container-fluid container-note">
    <div class="row">
        <div class="col-md-2 pl-0">
            <nav id="navbar-scroll" class="navbar navbar-light bg-light sticky-top d-block overflow-auto">
                <div class="row align-items-center">
                    <div class="col-auto pr-0">
                        <a class="navbar-brand mr-0" href="#">{{ page.title }} </a>
                    </div>
                    <div class="col px-0">
                        <button class="btn" id="collapse-btn" onclick="collapse_all()">
                            <i class="fas fa-angle-down"></i></button>
                    </div>
                </div>
                <nav class="nav nav-pills flex-column w-100" id="navbar-pill"></nav>
            </nav>
        </div>
        <div class="col-md-10 note">
            <div id="scrollspy" data-target="#navbar-scroll">
                {% if page.last_modified_at %}
                <small class="badge badge-secondary float-right">
                    Updated: {{ page.last_modified_at | date: "%b %-d, %Y | %a, %I:%M %p" }}
                </small>
                {% endif %}

                {{ content }}
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/generate_nav.js"></script>
<script>
    (function () {
        generate_nav();
        $('body').scrollspy({target: '#navbar-scroll'});
    }());

    function collapse_all() {
        $("[id^='collapse-body-']").toggle();

        let $collapse_btn = $('#collapse-btn');
        if ($collapse_btn.html().trim() === '<i class="fas fa-angle-right"></i>') {
            $collapse_btn.html(`<i class="fas fa-angle-down"></i>`);
        } else {
            $collapse_btn.html(`<i class="fas fa-angle-right"></i>`);
        }
    }
</script>