---
layout: base
---

<div class="container-note container-fade-in fade-in-fast">
    <nav id="sidebar" class="navbar navbar-light">
        <div class="row align-items-center">
            <div class="col-auto pr-0">
                <a class="navbar-brand nav-link mr-0" href="#">{{ page.title }}</a>
            </div>
            <!--            <div class="col px-0">-->
            <!--                <button class="btn" id="sidebar-nav-collapse"><i class="fas fa-angle-down"></i></button>-->
            <!--            </div>-->
        </div>
        <nav class="nav nav-pills flex-column w-100" id="navbar-pill"></nav>
    </nav>
    <button class="btn" id="sidebar-toggle"><i class="fas fa-grip-lines-vertical"></i></button>

    <div class="" id="content">
        {% include nav.html %}

        <div class="container-fluid" id="scrollspy" data-target="#sidebar">
            <button class="btn float-right mt-4" id="compress-btn"><i class="fas fa-compress"></i></button>

            {% if page.last_modified %}
            <script>
                $(() => $('h1').first().after(`<div class="badge badge-secondary mx-1" style="margin-bottom: 2.5rem">Updated: {{ page.last_modified | date: "%b %-d, %Y | %a, %I:%M %p" }}</div>`));
            </script>
            {% endif %}

            {{ content }}
        </div>
        <div class="overlay"></div>

        {% include footer.html %}
    </div>
</div>

<script src="/assets/js/generate_nav.js"></script>
<script>
    $(() => {
        $('#navbar-pill').generateNav();
        $('body').scrollspy({target: '#sidebar'});

        $('#sidebar-toggle, .overlay').on('click', function () {
            $('#sidebar-toggle, #sidebar, #content, .overlay').toggleClass('active');
            $('body').toggleClass('fix');
        });

        // $('#sidebar-nav-collapse').on('click', function () {
        //     $(this).toggleClass('rotate');
        //     $('.nav-pills-collapse').slideToggle();
        // });

        let angle = 0;
        $('#compress-btn').on('click', function () {
            $(this).css('transform', `rotate(${angle += 360}deg)`);
            setTimeout(() => {
                $(this).html(~$(this).html().indexOf('compress') ? '<i class="fas fa-expand"></i>' : '<i class="fas fa-compress"></i>');
            }, 500);
            $('#scrollspy').toggleClass('compress');
        });
    })
</script>